body {
background: #c2a6e3;
font-family: Times New Roman;
}
h1 {
color: black;
text-align: center;
}
.assign {
display: flex;
padding: 10px;
margin: 10px;
background: #e3d5f2;
}
.assign img {
width: 200px;
padding: 10px;
}
body {
background: #c2a6e3;
font-family: Times New Roman;
}
h1 {
color: black;
text-align: center;
}
.assign {
display: flex;
padding: 10px;
margin: 10px;
background: #e3d5f2;
}
.assign img {
width: 200px;
padding: 10px;
}
