body {
background: #e8dcbe;
font-family: Times New Roman;
}
h1 {
color: black;
text-align: center;
}
.assign {
display: flex;
padding: 10px;
margin: 10px;
background: #d1c39f;
}
.assign img {
width: 200px;
padding: 10px;
}
body {
background:#e8dcbe;
font-family: Times New Roman;
}
h1 {
color: black;
text-align: center;
}
.assign {
display: flex;
padding: 10px;
margin: 10px;
background: #d1c39f;
}
.assign img {
width: 200px;
padding: 10px;
}
